$primary: #c9d8f7;
$secondary: #7df365;

@import "~bootstrap/scss/bootstrap";
.card {
    background-color: $primary !important;
    margin-top: 30px;
}
.btn-info {
    background-color: $secondary !important;
}